@media screen and (max-width: 900px) {
    /* Add new task box */
    .new-item {
        width: 524px;
    }

    /* pop-up container */
    .pop-up {
        left: 27%;
    }

    /* tasks list box */
    .list-items {
        width: 524px;
    }

    .para {
        width: 87%;
    }

    /* completed tasks box */
    .completed {
        width: 524px;
    }
}

@media screen and (max-width: 700px) {

    /* container box */
    .container h1 {
        font-size: 36px;
    }

    /* menu */
    .side-bar {
        width: 180px;
    }

    .side-bar.active {
        right: 0%;
    }

    .theme-menu.active {
        right: -8%;
    }

    /* Add new task box */
    .new-item {
        width: 450px;
    }

    /* pop-up box */
    .pop-up {
        left: 32%;
        width: 35%;
    }

    /* tasks list box */
    .list-items {
        width: 450px;
    }

    .para {
        width: 85%;
    }

    /* completed tasks box */
    .complete h2 {
        font-size: 32px;
    }

    .completed {
        width: 450px;
    }
}

@media screen and (max-width: 650px) {
    /* menu */
    .theme-menu.active {
        right: -5%;
    }
}

@media screen and (max-width: 600px) {
    /* menu */
    .hamburger {
        right: 23px;
    }

    .side-bar {
        right: -40%;
    }

    .theme-menu.active {
        right: -3%;
    }

    /* pop-up box  */
    .pop-up {
        width: 40%;
    }
}

@media screen and (max-width: 550px) {

    /* container box  */
    .container h1 {
        font-size: 31px;
    }

    .theme-menu.active {
        right: -1%;
    }

    /* Add new task box */
    .new-item {
        width: 380px;
        flex-direction: column;
    }

    #task {
        font-size: 17px;
    }

    #add-btn {
        font-size: 20px;
        padding: 11.5px 15px;
        width: -moz-available;
        width: -webkit-fill-available;
        border-top: 0;
        border-left: 3px solid seagreen;
    }

    /* pop-up container */
    .pop-up {
        left: 24%;
        width: 50%;
    }

    /* tasks list box  */
    .list-items {
        width: 380px;
        margin-top: -3px;
    }

    .list {
        font-size: 17px;
    }

    .para {
        width: 82%;
    }

    /* completed tasks box */
    .complete h2 {
        font-size: 30px;
    }

    .completed {
        width: 380px;
    }
}

@media screen and (max-width: 500px) {
    /* menu */
    .hamburger {
        right: 23px;
    }

    .theme-menu.active {
        right: 4%;
    }

    /* Add new task box */
    .new-item {
        width: 310px;
    }

    /* tasks list box */
    .list-items {
        width: 310px;
    }

    .para {
        width: 78%;
    }

    /* completed tasks box */
    .complete h2 {
        font-size: 28px;
    }

    .completed {
        width: 310px;
    }
}

@media screen and (max-width: 450px) {

    /* container box */
    .container h1 {
        font-size: 29px;
    }

    /* menu */
    .side-bar {
        right: -47%;
    }

    .theme-menu.active {
        right: 7%;
    }

    /* pop-up box */
    .pop-up {
        left: 19%;
        width: 61%;
    }
}

@media screen and (max-width: 420px) {
    /* Add new task box */
    .new-item {
        width: 270px;
    }

    /* tasks list box */
    .list-items {
        width: 270px;
    }

    .para {
        width: 74%;
    }

    /* completed tasks box */
    .complete h2 {
        font-size: 26px;
    }

    .completed {
        width: 270px;
    }
}

@media screen and (max-width: 375px) {

    /* container box  */
    .container {
        padding: 20px;
    }

    .container h1 {
        font-size: 28px;
        margin-top: 10px;
    }

    /* menu */
    .hamburger {
        right: 16px;
    }

    .side-bar {
        right: -75%;
    }

}

@media screen and (max-width: 360px) {
    /* container box */
    .container {
        padding: 15px;
    }

    /* menu */
    .hamburger {
        right: 10px;
        top: 22px;
    }

    .theme-menu.active {
        right: 13%;
    }
}

@media screen and (max-width: 350px) {
     /* container box */
    .container {
        /* margin-left: 5px; */
        padding: 10px;
    }

    /* menu */
    .theme-menu.active {
        right: 15%;
    }

    /* Add new task box */
    .new-item {
        width: 250px;
    }

    /* tasks list box */
    .list-items {
        width: 250px;
    }

    .para {
        width: 72%;
    }

    /* completed tasks box */
    .complete h2 {
        font-size: 26px;
    }

    .completed {
        width: 250px;
    }
}