* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background: linear-gradient(50deg, cadetblue, plum);
    height: 100vh;
    padding: 50px 25px;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 150px auto;
    gap: 55px;
}

#task {
    padding: 15px;
}