* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background: linear-gradient(50deg, cadetblue, plum);
    height: 100vh;
    padding: 50px 25px;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 150px auto;
    gap: 55px;
}

.new-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#task {
    padding: 13px 10px;
    font-size: 18px;
    /* border-radius: 10px; */
    border: 3px solid #218b50;
    width: 40%;
}

#add-btn {
    padding: 10px 15px;
    font-size: 24px;
    background-color: #468863;
    border: 3px solid seagreen;
    border-left: 0;
    color: white;
    cursor: pointer;
}