* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
   background:linear-gradient(0.25turn, plum, #888, cadetblue);
    height: 100%;
}

.container {
    justify-content: center;
    height: 100%;
    padding: 24px 25px 50px;;
    display: grid;
    grid-template-rows: 90px 50px auto auto;
    gap: 55px;
    max-width: 90vw;
    margin: auto;
    grid-template-columns: 100%;
}

.side-bar {
    background-color: black;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 20%;
    transition: 0.5s
}

.side-bar.active {
    right: 0%;
}

.side-bar h3 {
    color: white;
    font-size: 28px;
    border-bottom: 2px solid white;
    padding: 0 0 6px 15px;
    margin: 77px auto 0;
}

.hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 42px;
    top: 32px;
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.theme-menu {
    width: 35%;
    padding: 20px;
    position: fixed;
    right: -100%;
    top: 123px;
    z-index: 2;
    transition: 0.5s;
}

.theme-menu.active {
    right: -15%;
}

.theme {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.circle {
    width: 25px;
    border-radius: 50%;
    height: 24px;
}

.violet {
    border: 4px solid violet;
}

.ind {
    border: 4px solid indigo;
}

.blue {
    border: 4px solid blue;
}

.green {
    border: 4px solid  rgb(51, 105, 76);
}

.yellow {
    border: 4px solid yellow;
}

.orange {
    border: 4px solid orange;
}

.red {
    border: 4px solid red;
}

.container h1 {
    font-size: 40px;
}

.new-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#task {
    padding: 13px 10px;
    font-size: 18px;
    /* border-radius: 10px; */
    border: 3px solid #218b50;
    width: 50%;
    outline: none;
}

#add-btn {
    padding: 10px 15px;
    font-size: 24px;
    background-color: #468863;
    border: 3px solid seagreen;
    border-left: 0;
    color: white;
    cursor: pointer;
}

.pop-up {
    background: linear-gradient(rgba(145, 71, 98,1), #DF826C);
    display: none;
    position: fixed;
    border: 2px solid black;
    width: 25%;
    padding: 29px;
    margin: auto;
    font-size: 20px;
    transition: 0.5s ease-in-out;
    text-align: center;
    right: 37%;
    top: 42%;
    z-index: 1;
}

.pop-up .cross {
    position: absolute;
    top: 4px;
    right: 16px;
    font-size: 23px;
    transition: 0.3s ease;
}

.pop-up p {
    margin: 1.5rem 0;
    font-size: 19px;
    color: white;
}

.pop-up .ok {
    padding: 6px 12px;
    font-size: 17px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 14px;
    transition: 0.3s ease;
}

.pop-up .cross:hover {
    color: white;
}

.pop-up .ok:hover {
    background-color: wheat;
    font-weight: bold;
}

.list-items {
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    margin-top: -53px;
}

#item-list {
    width: 100%;
}

.list {
    position: relative;
    background-color: white;
    color: black;
    font-size: 19px;
    padding: 13px 10px;
    list-style-type: none;
}

.list:nth-child(odd) {
    background-color: rgb(51, 105, 76);
    color: white;
}

.list:nth-child(odd) .check, .list:nth-child(odd) .close {
    background-color: rgb(51, 105, 76);
    color: white;
}

.check {
    position: absolute;
    top: 9px;
    font-size: 21px;
    background-color: #fff;
    color: black;
    right: 53px;
    cursor: pointer;
    border: none;
}

.close {
    position: absolute;
    top: 9px;
    cursor: pointer;
    right: 20px;
    font-size: 21px;
    background-color: #fff;
    color: black;
    border: none;
}

.complete {
    display: none;
}

.complete h2 {
    font-size: 38px;
    border-bottom: 2px solid black;
    padding: 0 0 8px 10px;
    margin-bottom: 25px;
}

.completed {
    width: 57%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* text-decoration: line-through; */
}

.completed:nth-child(even) {
    background-color: white;
    color: black;
}